{% extends "layout.html" %}

{% block heading %}
    Book Details
{% endblock %}

{% block body %}

    <h2>Information</h2>
    <ul>
      <li>ISBN: {{book.isbn}}, Title: {{ book.title }}, Author: {{book.author}}, Year: {{book.year}}</li>
    </ul>

    <h2>Submit Your Review</h2>
    <form action="{{ url_for('submitReview', isbn=book.isbn) }}" method="post">
      <p>
        <label for="rating">Enter your rating on a scale of 1 to 5</label>
        <input type="number" name="rating" placeholder="Enter rating"">
      </p>
      <p>
        <label for="comment">Enter your comments on the book</label>
        <input type="text" name="comment" placeholder="Enter comments">
      </p>
        <button>Submit</button>
    </form>

    <h2>Reviews from Other Users on This Site</h2>
    <ol>
      {% for review in reviews %}
          <li>Rating: {{review.rating}} <br>
            Comment: {{review.comment}} <br>
            User: {{review.username}}
          </li>
      {% endfor %}
    </ol>

    <h2>Review information from Goodreads</h2>
    <p>Goodreads average rating: {{goodreadsBookJson["books"][0]["average_rating"] }}</p>
    <p>Goodreads number of ratings: {{goodreadsBookJson["books"][0]["work_ratings_count"] }}</p>



    <p><a href="{{ url_for('bookDetails', isbn=book.isbn) }}">Go back to search</a></p>

    <form action="{{ url_for('logout') }}" method="post">
        <button>Log Out</button>
    </form>




{% endblock %}
