{% extends "layout.html" %}

{% block heading %}
    Project 1: Book reviews
{% endblock %}

{% block body %}

    {% if username == "not logged in" %}

      <form action="{{ url_for('login') }}" method="post">
          <input type="text" name="username" placeholder="Enter Username">
          <input type="password" name="password" placeholder="Enter Password">
          <button>Sign In</button>
      </form>

      <p></p>
      <p>Don't have an account? <a href="{{ url_for('register') }}">Register!</a></p>

    {% else %}

      <p>Welcome {{username}}!</p>
      <form action="{{ url_for('index') }}" method="post">
          <input type="text" name="note" placeholder="Enter Note Here">
          <button>Add Note</button>
      </form>

      <form action="{{ url_for('logout') }}" method="post">
          <button>Log Out</button>
      </form>

    {% endif %}

{% endblock %}
